.category-button {
  padding: 0.5rem 1rem 0.5rem 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  background-color: white;
  cursor: pointer;
  border: 0;
}

.category-button:focus {
  text-decoration-line: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 3px;
}
