@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600;700&family=Open+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    padding: 2rem;
    font-family: 'Fredoka', sans-serif;
}

a {
    color: initial;
    text-decoration: underline;
}

h1 {
    font-weight: 600;
    margin: 2rem 0;
}

h2, h3, h4, h5 {
    margin: 2rem 0 1rem 0;
}

p {
    margin: 0.5rem 0;
    font-size: 20px;
    line-height: 1.7rem;
}

ul {
    list-style-type: square;
    list-style-position: inside;
}