.container {
  width: 980px;
  margin: auto;
}

.page-title-style {
  font-size: 3rem;
}

@media only screen and (max-width: 980px) {
  .container {
    width: 600px;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 350px;
  }
}
