* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
}

a {
    color: initial;
    text-decoration: none;
}

.container {
    margin: auto;
}

.hero-image {
    width: 100%;
    max-width: 550px;
    height: auto;
}